:root {
     --Roboto: 'Roboto', sans-serif;
}

body {
     font-family: var(--Roboto) !important;
}

.form-title {
     display: block;
     width: 100%;     
     padding: 3px 5px;     
     font-size: 28px;     
     font-family: var(--Roboto);     
     font-weight: bolder;     
     text-align: center;     
     text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.86);
     color: #fff;     
     margin-bottom: 1rem;     
     border-bottom: 1px solid #ddd;
}